@import "include-media";
@import "variables.scss";

body{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
    margin-top: 0;
}

h1{
    font-size: 35px;

    @include media("<medium"){
        font-size: 28px;
    }
}

h2{
    font-size: 30px;

    @include media("<medium") {
        font-size: 25px;
    }
}

a{
    cursor: pointer;
    text-decoration: none;

    &.link--button {
        background-color: $ColorPrimary;
        color: $ColorWhite;
        padding: 10px 20px;
        transition: 0.2s ease-in-out;
        text-transform: uppercase;

        &:hover{
            background-color: $ColorPrimaryLight;
            color: $ColorPrimary;
        }

        &.download{
            position: relative;
            padding-right: 40px;

            &::after{
                content: "";
                mask-image: url("../../icons/icon_download.svg");
                background-color: $ColorWhite;
                position: absolute;
                top: 50%;
                right: 20px;
                width: 12px;
                height: 12px;
                transform: translateY(-50%);
                transition: 0.2s ease-in-out;
            }

            &:hover{
                &::after{
                    background-color: $ColorPrimary;
                    color: $ColorPrimaryLight;
                }
            }
        }
    }
}
