$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px,
  'maxWidth': $maxWidth,
);

$HeaderHeight: 100px;

$ColorPrimary: #002a42;
$ColorSecondary: #cfdae3;

$ColorBlack: #000000;
$ColorGray: #E5E5E5;
$ColorWhite: #FFFFFF;
$ColorWhiteTrans: #ffffffd0;
$ColorBlackTrans: #000000d0;

$ColorFont: $ColorBlack;
$ColorBackground: $ColorWhite;

$ColorPrimaryLight: #CFDAE3;
$ColorPrimaryDark: darken($ColorPrimary, 20%);
$ColorSecondaryLight: lighten($ColorSecondary, 60%);
$ColorSecondaryDark: darken($ColorSecondary, 20%);
