$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px,
  'maxWidth': $maxWidth,
);

$HeaderHeight: 120px;

$ColorPrimary: #148C82;
$ColorSecondary: #939393;

$ColorBlack: #000000;
$ColorWhite: #FFF;
$ColorWhiteTrans: #ffffffe3;

$ColorFont: $ColorBlack;
$ColorBackground: $ColorWhite;

$ColorPrimaryLight: lighten($ColorPrimary, 60%);
$ColorPrimaryDark: #063B37;
$ColorSecondaryLight: lighten($ColorSecondary, 60%);
$ColorSecondaryDark: darken($ColorSecondary, 50px);
