header {
    overflow: visible;
    max-width: 100%;
    background-color: $ColorGray;
    width: 100%;
    filter: none;
    display: block;
    display: flex;
    flex-direction: column;

    .header_topbar{
        height: 40px;

        .header_topbar_menu{
            max-width: $maxWidth;
            display: flex;
            justify-content: flex-end;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            max-height: 0px;
            transition: 0.2s ease-out;

            .topbar_menu_item{
                margin-left: 10px;

                .topbar_menu_item_link{
                    padding: 10px 10px;
                    display: block;
                    color: $ColorFont;
                    background-color: $ColorPrimaryLight;
                    transition: 0.2s ease-in-out;

                    &:hover{
                        background-color: $ColorPrimaryLight;
                        color: $ColorFont;
                    }
                }
            }
        }

        @include media("<maxWidth") {
            padding: 0 20px;
        }

        @include media("<desktop") {
            position: absolute;
            top: 100px;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 60px;
            background-color: $ColorGray;

            max-height: 0px;
            transition: 0.1s ease-in-out;
            z-index: 100;
            pointer-events: none;

            .header_topbar_menu{
                justify-content: center;
                gap: 20px;
                height: 100%;
                max-height: unset;

                .topbar_menu_item{
                    width: 50%;
                    height: 100%;
                    margin-left: 0;
                    text-align: center;

                    .topbar_menu_item_link{
                        height: 100%;
                        text-align: center;
                    }
                }
            }

            .body--show &{
                opacity: 1;
                max-height: 100px;
                pointer-events: all;
            }
        }
    }

    .header_nav_wrap{
        position: relative;
        width: 100%;
        z-index: 105;
        background-color: $ColorGray;

        .header_nav{
            width: 100%;
            max-width: $maxWidth;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            .nav_brand{
                display: block;
                height: $HeaderHeight;
                width: auto;
                margin-top: 0px;
                transition: 0.3s ease-in-out;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }

                .menu--fixed & {
                    height: calc($HeaderHeight - 30px);
                }

                @include media(">desktop") {
                    margin-top: -35px;
                }
            }

            .nav_menu{
                padding-left: 10px;
                display: flex;
                gap: 2px;
                margin-top: 20px;

                .nav_link {
                    text-decoration: none;
                    display:  block;
                    margin: 0px 0 0 0;
                    padding: 0px 25px;
                    color: $ColorPrimary;
                    text-align: center;
                    transition: 0.2s ease-in-out;
                    background-color: $ColorWhite;
                    line-height: calc($HeaderHeight - 40px);

                    &.topbar_item{
                        display: none;
                    }

                    &:hover {
                        background-color: $ColorPrimary;
                        color: $ColorWhite;
                    }

                    &:active {
                        background-color: $ColorPrimary;
                    }

                    &:focus {
                        background-color: $ColorPrimaryLight;
                        color: $ColorWhite;
                    }

                    &.nav_link--active {
                        background-color: $ColorPrimary;
                        color: $ColorWhite;
                    }
                }

                .menu--fixed & {
                    margin-top: 10px;
                }

                @include media("<desktop") {
                    position: absolute;
                    top: 160px;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    background-color: $ColorGray;

                    max-height: 0px;
                    transition: 0.3s ease-in-out;
                    z-index: 100;
                    flex-direction: column;
                    pointer-events: none;
                    padding: 10px 20px 20px 20px;

                    .header_topbar_menu{
                        justify-content: center;
                    }

                    .body--show &{
                        opacity: 1;
                        max-height: 3000px;
                        pointer-events: all;
                    }
                }
            }

            .nav_button{
                display: none;

                @include media("<desktop") {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;

                    .bar1, .bar2, .bar3, .bar4 {
                        width: 35px;
                        height: 5px;
                        background-color: $ColorPrimary;
                        transition: 0.4s;
                        position: absolute;
                    }

                    .bar1{
                        top: 6px;

                        .body--show & {
                            opacity: 0;
                        }
                    }

                    .bar2{
                        top: 18px;

                        .body--show & {
                            opacity: 1;
                            transform-origin: center;
                            transform: rotate(45deg);
                        }
                    }

                    .bar3{
                        opacity: 0;
                        top: 18px;

                        .body--show &{
                            opacity: 1;
                            transform-origin: center;
                            transform: rotate(-45deg);
                        }
                    }

                    .bar4{
                        top: 30px;

                        .body--show &{
                            opacity: 0;
                        }
                    }
                }
            }

            @include media("<desktop"){
                padding: 10px 0;
            }
        }

        @include media(">desktop") {
            .menu--fixed &{
                margin-top: -10px;
                position: fixed;
                margin-bottom: 0px;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

                .nav_brand{
                    margin-top: 10px;
                    padding: 10px;
                }
            }
        }

        @include media("<maxWidth") {
            padding: 0 20px;
        }

        @include media("<desktop") {
            background-color: transparent;
        }
    }
}
