header {
    overflow: visible;
    max-width: 100%;
    //background-color: $ColorPrimaryLight;
    width: 100%;
    filter: none;

    .header_topbar{
        background-color: $ColorPrimaryDark;
        height: 39px;

        .header_topbar_menu{
            max-width: $maxWidth;
            display: flex;
            justify-content: flex-end;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            max-height: 0px;

            .topbar_menu_item{
                margin-left: 10px;
                .topbar_menu_item_link{
                    padding: 10px 10px;
                    display: block;
                    color: $ColorWhite;
                    background-color: $ColorPrimary;
                    transition: 0.2s ease-in-out;

                    &:hover{
                        background-color: $ColorPrimaryLight;
                        color: $ColorFont;
                    }
                }
            }

            @include media("<medium") {
                display: none;
            }
        }

        @include media("<medium") {
            height: 50px;
        }
    }

    .header_nav_wrap{
        position: relative;
        width: 100%;
        z-index: 105;
        background-color: $ColorWhite;
        margin-bottom: -60px;

        .header_nav{
            width: 100%;
            max-width: $maxWidth;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 auto;

            .nav_brand_wrap{
                filter: drop-shadow(-1px 6px 5px rgba(50, 50, 0, 0.5));
                transition: 0.3s ease-in-out;

                .nav_brand{
                    display: block;
                    width: auto;
                    padding: 20px;
                    margin-top: -50px;
                    margin-left: 20px;
                    margin-bottom: calc(0px - ($HeaderHeight / 2));
                    height: calc($HeaderHeight + ($HeaderHeight / 4));
                    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
                    height: calc($HeaderHeight + ($HeaderHeight / 4));
                    background-color: $ColorWhite;
                    transition: 0.3s ease-in-out;

                    img {
                        height: 100%;
                    }

                    @include media("<medium") {
                        width: 200px;
                        height: auto;
                        max-width: 50%;
                        margin-left: 50%;
                        transform: translateX(-50%);

                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .nav_menu{
                padding-left: 10px;
                .nav_link {
                    text-decoration: none;
                    display: inline-block;
                    margin: 10px 0;
                    padding: 10px 30px;
                    color: $ColorPrimary;
                    text-align: center;
                    transition: 0.2s ease-in-out;

                    &.topbar_item{
                        display: none;

                        @include media("<medium") {
                            display: inline-block;
                            border: 1px solid $ColorPrimary;
                            padding: 7px 15px;
                        }
                    }

                    &:hover {
                        background-color: $ColorPrimaryDark;
                        color: $ColorWhite;
                    }

                    &:active {
                        background-color: $ColorPrimaryDark;
                    }

                    &:focus {
                        background-color: $ColorPrimaryLight;
                        color: $ColorWhite;
                    }

                    &.nav_link--active {
                        background-color: $ColorPrimaryDark;
                        color: $ColorWhite;
                    }
                }

                @include media("<medium") {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out, opacity 0.3s ease-out;
                    background-color: $ColorWhite;
                    padding: calc($HeaderHeight + 20px) 10px 5px 10px;
                    z-index: -1;

                    .nav_link{
                        margin: 5px 0;
                        padding: 20px 30px;
                    }

                    .body--show & {
                        opacity: 1;
                    }
                }
            }

            .nav_button{
                display: none;

                @include media("<medium") {
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;

                    .bar1, .bar2, .bar3, .bar4 {
                        width: 35px;
                        height: 5px;
                        background-color: $ColorPrimary;
                        transition: 0.4s;
                        position: absolute;
                    }

                    .bar1{
                        top: 6px;

                        .body--show & {
                            opacity: 0;
                        }
                    }

                    .bar2{
                        top: 18px;

                        .body--show & {
                            opacity: 1;
                            transform-origin: center;
                            transform: rotate(45deg);
                        }
                    }

                    .bar3{
                        opacity: 0;
                        top: 18px;

                        .body--show &{
                            opacity: 1;
                            transform-origin: center;
                            transform: rotate(-45deg);
                        }
                    }

                    .bar4{
                        top: 30px;

                        .body--show &{
                            opacity: 0;
                        }
                    }
                }
            }

            @include media("<medium") {
                display: block;
            }
        }

        @include media(">medium") {
            .menu--fixed &{
                margin-top: -40px;
                position: fixed;
                margin-bottom: 0px;

                .nav_brand_wrap{
                    margin-top: 30px;
                    .nav_brand{
                        height: 100px;
                    }
                }
            }
        }

        @include media("<medium") {
            background-color: transparent;
        }
    }

    @include media("<medium") {
        margin-bottom: -100px;
    }
}
