.section.section--text{
    .section_content{
        .text_title{
            color: $ColorPrimary;
        }
    }

    &.section--text-center {

        .text_title{
            text-align: center;
        }

        .text_content {
            text-align: center;

            @include media("<desktop") {
                padding-right: 34px;
                padding-left: 34px;
            }
        }
    }
}
